@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CYN';
  src: url('./CYN_ModulatorDemiBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Guardians';
  src: url('./Guardians.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'CYN', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
}

.guardians-font {
  font-family: 'Guardians', sans-serif;
}